.subNavItem{
    transition: 'all 0.15s ease';
    cursor: pointer;
}

.outlineIcon {
    display: block;
}

.fillIcon {
    display: none;
}

.subNavItem:hover .outlineIcon {
    display: none;
}

.subNavItem:hover .fillIcon {
    display: block;
}